<!-- <div aria-hidden="true" aria-labelledby="myModalLabel" bsModal class="modal fade modal-black" 
#myModal2="bs-modal"
  id="myModal2" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button aria-hidden="true" class="close" data-dismiss="modal" (click)="myModal2.hide()" type="button">
          <i class="tim-icons icon-simple-remove text-white"> </i>
        </button>
        <div class="text-muted text-center ml-auto mr-auto">
          <h3 class="mb-0">Sign in with</h3>
        </div>
      </div>
      <div class="modal-body">
        <div class="btn-wrapper text-center">
          <a  (click)="fbLogin()" class="btn btn-neutral btn-icon mr-1" href="javascript:void(0)">
            <img src="assets/img/facebook.svg" />
          </a>
          <a class="btn btn-neutral btn-icon" href="javascript:void(0)">
            <img src="assets/img/google.svg" />
          </a>
        </div>
        <div class="text-center text-muted mb-4 mt-3">
          <small> sign in and get started </small>
        </div>
      </div>
    </div>
  </div>
</div> -->

<ngx-smart-modal [dismissable]="false" [closable]="false" #authModal identifier="authModal">

  <div class="modal-black" >

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button class="close" (click)="authModal.close()" type="button">
          <i class="tim-icons icon-simple-remove text-white"> </i>
        </button>
        <div class="text-muted text-center ml-auto mr-auto">
          <h3 class="mb-0">Sign in with</h3>
        </div>
      </div>
      <div class="modal-body">
        <div class="btn-wrapper text-center">
          <!-- <a class="btn btn-neutral btn-icon mr-1" href="javascript:void(0)">
            <img src="assets/img/github.svg" />
          </a> -->
          <a (click)="fbLogin()" class="btn btn-neutral btn-icon mr-1">
            <img src="assets/img/facebook.svg" />
          </a>
          <!-- <a class="btn btn-neutral btn-icon">
            <img src="assets/img/google.svg" />
          </a> -->
        </div>
        <div class="text-center text-muted mb-4 mt-3">
          <small> sign in and get started </small>
        </div>
      </div>
    </div>
  </div>

</div>


</ngx-smart-modal>