

.page-header {
    height: auto !important;
    min-height: 100vh;
    max-height: 999px;
    padding: 0;
    color: #ffffff;
    position: relative;
    overflow: hidden;
}

.table-responsive {
    overflow: hidden;
}