<div class="page-header">

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-10 ml-auto mr-auto">
          <div class="text-center">
            <h4 class="title">Paste Product Link Here</h4>
            <p class="description"> Paste Daraz Product link here and we will track the sales of that item </p>
          </div>
          <div class="card card-raised card-form-horizontal">
            <div class="card-body">
              <form (submit)="onSubmit()" #f="ngForm"  novalidate="" class="ng-untouched ng-pristine ng-valid">
                <div class="row">
                  <div class="col-sm-8">
                    <div class="input-group">
                      <div class="input-group-prepend"><span class="input-group-text"><i
                            class="tim-icons icon-link-72"></i></span></div>
                      <input class="form-control"
                      required  ngModel #link="ngModel" name="link" [(ngModel)]="model.link"
                        placeholder="https://" type="text">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <!-- <button class="btn btn-primary btn-round btn-block" type="button"> Add
                    </button> -->
                    <button [disabled]="!f.form.valid" type="submit" class="btn btn-primary btn-round">
                      <i class="tim-icons icon-zoom-split"></i> Add
                      </button>
                  
                  </div>

                  <!-- <div [hidden]="link.valid || link.pristine"
     class="alert alert-danger"> required
     </div> -->
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <div class="container">

      <div class="col-md-12 ml-auto mr-auto">
        <h6>Records</h6>
        <div class="card card-plain">
          <div class="card-header">
            <h4 class="card-title"></h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter" id="">
                <thead>
                  <tr>
                    <th class="text-center">#</th>
                    <th>Product Name</th>
                    <th>Category</th>
                    <!-- <th class="text-center">Stock</th> -->
                    <th class="text-center">Sold</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of data; let i =index">
                    <td class="text-center">{{i+1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.category}}</td>
                    <td class="text-center">{{item.stock}}</td>

                    <td class="text-right">
                      <a [href]="item.link" target="_blank" class="btn btn-info btn-icon btn-sm btn-simple mr-1" type="button">
                        <i class="tim-icons icon-tap-02"></i>
                      </a>
                    </td>
                  </tr>
               
<!--                    
                  <tr>
                    <td class="text-center">6</td>
                    <td>Manuel Rico</td>
                    <td>Manager</td>
                    <td class="text-center">2012</td>
                    <td class="text-right">€ 99,201</td>
                    <td class="text-right"><button class="btn btn-info btn-icon btn-sm btn-simple mr-1" type="button"><i
                          class="tim-icons icon-single-02"></i></button><button
                        class="btn btn-success btn-icon btn-sm btn-simple mr-1" type="button"><i
                          class="tim-icons icon-settings"></i></button><button
                        class="btn btn-danger btn-icon btn-sm btn-simple" type="button"><i
                          class="tim-icons icon-simple-remove"></i></button></td>
                  </tr> -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>




</div>